body {
  background-image: url('abstract-2468874_1920.jpg');
  text-align: center;
}

h1 {
  font-family: 'Finger Paint', cursive;
  font-weight: normal;
  font-size: 36px;
  margin-top: 30px;
  color: whitesmoke;
  background-color: #00000090;
}

.color-picker {
	width:600px;
	height:60px;
	background-color:whitesmoke;
	margin:auto;
	border-radius:10px;
}

#canvas {
  width: 600px;
  height: 600px;
  background-color: whitesmoke;
  margin: auto;
  margin-top: 20px;
  border-radius:10px;
}

.color {
  width: 40px;
  height: 40px;
  margin: 5px;
  border-radius: 50%;
  display: inline-block;
  border: 3px dotted whitesmoke;
}
.color:hover {
  border: 3px solid darkgray;
}

.box {
  width: 28px;
  height: 28px;
  display: inline-block;
  border: 1px solid white;
  border-radius:5px;
}
.box:hover {
  border: 1px solid darkgray;
}

button {
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  border-radius:10px;
}

.button:hover {
  border: 3px solid darkgray;
}

#selected {
  margin-right: 35px;
  border: 5px double black;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
